.contenitore-grid {
  display: grid;
  place-items: center; /* Centra sia orizzontalmente che verticalmente */
  height: 100vh;       /* Imposta l'altezza del contenitore */
}

.quadrato-grid {
  width: 100px;
  height: 100px;
  background-color: red;
}
