.container {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 0px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: white;
  border: 0px;
}
img {
  max-width: 100%;
  height: 100%;
}

.header-container {
  display: flex; /* Allinea gli elementi in orizzontale */
  align-items: center; /* Allinea verticalmente al centro */
  background-color: white;
  border: 0px;
  max-width: 100%;
  justify-content: center;
  height: auto;
}

.logo {
  /* Aggiungi qui le proprietà per il logo, come larghezza e altezza */
  width: 50px;
  height: 50px;
  margin-right: 1px; /* Spazio tra logo e titolo */
}

.site-title {
  /* Aggiungi qui le proprietà per il titolo */
  font-size: 35px;
  text-align: center;
}
