.container {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;
  margin: 5px;
  display: block;
}
