.container {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 0px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  margin: 10px;
  background-color: white;
  border: 0px;
}
img {
  max-width: 100%;
  height: 100%;
}
