.container {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  margin: 5px;
}
img {
  max-width: 100%;
  height: auto; /* Mantiene le proporzioni */
}
