footer {
  background-color: white; /* Sfondo grigio chiaro */
  color: black; /* Colore del testo */
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

footer ul li a {
  text-decoration: none;
  color: #333;
}
