footer {
  height: 60px;
  align-items: center;
  background-color: white;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

footer ul li a {
  text-decoration: none;
  color: #333;
}
