body{
    background-color: white;
    color: brown;
    font-size: 10px;
     border: 5px solid black;
     margin:10px;
     padding: 100px;
     text-align: center;
     width: 150px;
     height: 150px;
  }