div {
  color: black;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1px;
  border: 2px solid black;
  text-align: center;
}

h1 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  padding: 15px;
  text-align: center;
}
