body{
    background-color: white;
    color: #a52a2a;
    font-size: 15px;
     border: 5px solid black;
     margin: 1px;
     padding: 25px;
     text-align: center;
     width: 250px;
     height: 250px;
  }