div {
  color: black;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 40px;
  border: 2px solid black;
  text-align: center;
}

h1 {
  text-align: center;
  color: gold;
  font-family: "Times New Roman", Times, serif;
  font-size: 55px;
}
